
body{
  background-image:url(http://1.bp.blogspot.com/-TUc-n_4_K0Q/Tv_MT0ywpRI/AAAAAAAACaQ/YEd3lkjx8J0/s1600/wallpaper-via-lactea-730752.jpg)
}
 .back{
   text-align: center;
 }
 h1{
   color: antiquewhite;
   font-family:'Lucida Sans' 
 }
 h3{
   text-align: center;
  color:aqua
 }

 label{
  margin-right: 10px
 }